<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body>
    <%- include('./header'); %>

    <section class="about_page">
      <div class="ml-5 mb-5">
        <h2 class="text-center mt-5 mb-4">
          Welcome to Herald College Kathmandu (HCK)
        </h2>
        <img class="side_img float-right mr-5 mt-5" src="images/about2.jpg" />
        <p class="para text-justify mt-5 mb-5">
          <b> Herald College Kathmandu (HCK) </b> Herald College Kathmandu
          provides the best UK university education at most affordable fees. It
          offers Bachelor Degrees in IT and Business in direct partnership with
          the University of Wolverhampton, UK. Programmes that Herald College
          Kathmandu offers are flexible and have always aimed to foster a
          broader based knowledge.<br /><br />

          Herald College Kathmandu offers the BSc (Hons) International Business
          Management and BSc (Hons) in Computer Science qualification from the
          University of Wolverhampton (WLV).<br /><br />

          Considering effort, aptitude and knowledge, Herald College Kathmandu
          organizes a competition every year where students are awarded with
          scholarships to participate in 15-Day Summer-Camp organized at the
          University of Wolverhampton, UK.
        </p>
      </div>

      <div class="about_desc text-center pb-5">
        <h2 class="text-center mt-5 mb-5">Why Herald College Kathmandu?</h2>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> Direct &
                  Full-time UK University Course
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/about1.jpg" /> <br /><br />
                <p class="text-justify">
                  Herald College Kathmandu offers direct degrees in Information
                  Technology and Business. The courses are entirely designed,
                  approved and delivered by the University of Wolverhampton, in
                  association with New Zealand. As this is a direct partnership,
                  there are no credit-transfer hassles. The students can
                  complete their entire Bachelors’ degree at Herald College. Our
                  students get full and complete status of an UK undergraduate.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> College run
                  by the Pioneers in UK Education
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body mt-5">
                <p class="text-justify">
                  Herald College Kathmandu is being run by a team of national
                  and international academicians who are the pioneers of UK
                  education in Nepal. Islington College, established in 1996 was
                  the first ever college in Nepal to partner with the UK
                  university and has so far produced 3500+ graduates.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> British
                  style of learning
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/about2.jpg" />
                <br /><br />
                <p class="text-justify">
                  Lecture-tutorial-workshop methodology of teaching, which is
                  widely practiced in the UK, is adopted at Herald College
                  Kathmandu. Course delivery is skill-driven, rather than just
                  knowledge-oriented and focuses on self-learning and research.
                  Promote leadership and entrepreneurship and also encourage our
                  student to think out-of-the-box and be successful at it.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i>
                  International Exposure
                </button>
              </h5>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/about3.jpg" /><br /><br />
                <p class="text-justify">
                  Students from Herald College Kathmandu gets to travel to UK in
                  an all-expense paid trip to participate in the 15-Day Summer
                  Camp programme at the University of Wolverhampton, UK. Those
                  students get the opportunity to meet various other students
                  from around the world.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> The Finest
                  Resources
                </button>
              </h5>
            </div>
            <div
              id="collapseFive"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <img class="my-1" src="images/about4.jpg" /><br /><br />
                <p class="text-justify">
                  Herald College Kathmandu offers a high quality academic and
                  social facilities, which will help you get the best possible
                  education, and enjoy your learnings at the same time. You will
                  also have access to excellent university while studying here.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0 text-left ml-1">
                <button
                  class="btn btn-link collapsed text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                  style="width: 100%"
                >
                  <i class="fa fa-plus pr-2" aria-hidden="true"></i> Learn from
                  the best
                </button>
              </h5>
            </div>
            <div
              id="collapseSix"
              class="collapse"
              aria-labelledby="headingSix"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p class="text-justify">
                  You will receive quality education at Herald College Kathmandu
                  through our nationally and internationally recognised
                  faculties. With both academic and industry experience, the
                  faculties will turn textbook theories into real-life examples
                  and the connections will provide you with a valuable access to
                  professional opportunities and networks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
