<div class="top-navbar">
  <p class="float-left" style="color: #fff; ">
    Call Us at: 9876543210, 01-2345678
  </p>
  <% if (user) { %>
    <% if (user.role == 'admin' || user.role == 'superadmin') { %>
  <a href="/dashboard" class="login font-weight-bold">
    <% } %>
    <% if (user.role == 'student') { %>
  <a href="/me" class="login font-weight-bold">
    <% } %>
    <div class="profile-picture "><img class=" img-fluid rounded-circle" src="/images/users/<%= user.picture %>" alt="" srcset=""></div>
    
    <%= user.name.split(' ')[0].toUpperCase() %>
  </a>
  <a href="/logout" class="register font-weight-bold"> Logout </a>

  <%} if(!user) { %>
  <a href="/login" class="login font-weight-bold"> Login </a>
  <a href="/register" class="register font-weight-bold"> Register </a>
  <% } %>
</div>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
   
    
      <a  href="/" class=" text-success font-weight-bold navbar-brand"> <!-- <img src="/images/logo.png" class="img-fluid"  alt="logo" /> --> HeraldCollege</a>
     
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsenavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="collapsenavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link text-white"> Home </a>
        </li>
        <% if(user) {%>
         <li class="nav-item">
          <a href="/events" class="nav-link text-white"> Events </a>
        </li>
        <%}%>
        <% if(!user) {%>
          <li class="nav-item">
           <a href="/login" class="nav-link text-white"> Events </a>
         </li>
         <%}%>
      
        
        
        <li class="nav-item">
          <a href="/gallery" class="nav-link text-white"> Gallery </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Course Offered</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
            <% if (courses) {%>

           


            <% for(var i=0; i<courses.length; i++) {%>
               <a class="dropdown-item" href="/courses/<%= courses[i]._id %>"
              ><%= courses[i].tag %></a
            >
           <% } %> <%}%>
           

           
          </div>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link text-white"> About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
