<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head',{title:'HeraldCollege'}); %>
  </head>
  <body>
    <div
      id="divid"
      data-urll="<%= redirectURL %>"
      data-message="<%=message%>"
    ></div>
    <script>
      alert(document.getElementById('divid').getAttribute('data-message'));
      let urll = document.getElementById('divid').getAttribute('data-urll');

      window.location.assign(`${urll}`);
    </script>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
