#sidebar {
  z-index: 5;
  color: white;
}
#sidebar li:hover {
  color: #48b13e !important;
}
#sidebar a {
  color: inherit !important;
}
.login-form {
  width: 100%;
}

.login-container {
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 40px 20px;
  flex-direction: column;
  height: 450px;
  color: black;
  width: 400px !important;
  /* border: 1px solid rgba(0, 0, 0, 0.158); */
}
.login-container input {
  background-color: rgba(255, 255, 255, 0.315);
}
.login-container h4 {
  color: lightseagreen;
  font-weight: 500;
  font-size: 2em !important;
  /* text-shadow: 1px 1px 1px rgba(110, 109, 109, 0.384); */
}
.login-box {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#spinner-grow {
  display: none;
}

#login-btn {
  margin-top: 5px;
}

.more-photos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.college-logo {
  height: 100%;
  width: 15%;
}
@media only screen and (max-width: 768px) {
  .college-logo {
    height: 100%;
    width: 50%;
  }
}
.profile-picture {
  width: 30px;
  display: inline-block;
}
.profile-content .container {
  padding: 20px;
}

.top-navbar {
  padding: 12px 12px 0px 12px !important;
  padding-bottom: 0px !important;
  background-color: #48b13e;
  width: 100%;
  float: right;
  text-align: right;
}
.top-navbar p {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .top-navbar p {
    display: block;
  }
  .login,
  .register {
    /* margin: 0px !important; */
    font-size: 0.75em;
  }

  .top-navbar p {
    font-size: 0.75em;
  }
}

.login-college-logo {
  width: 200px;
  /* padding: 20px; */
  /* box-shadow: 1px 1px 3px rgb(117, 116, 116); */
}
/* .gallery-card {
  width: 450px;
} */

.course-card {
  height: 370px;
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 2 !important;
    margin-bottom: 20px;
  }
}
.card {
  /* display: inline-block;
  margin: 5px;
  width: 390px;
  height: 390px; */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom)*/
}

/* profile css */

.main-raised {
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main {
  background: #fff;
  position: relative;
  z-index: 3;
}

.profile-page .profile {
  text-align: center;
}

.profile-page .profile img {
  max-width: 140px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
}

.tab-space {
  padding: 20px 0 50px;
}

.profile-page .profile .name {
  margin-top: -80px;
}

.profile-page {
  width: 60vw;
}

/* dashboard css */
#dashBoardContainer {
  margin-top: 50px;
  width: 80vw;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  #dashBoardContainer {
    width: 100vw;
  }
}

.add-icon {
  margin-right: 90%;
}
